.cell {
    border: 0.1px solid black;
    flex-grow: 1;
}

.row {
    width: 100%;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
}

.container {
    width: 300px;
    height: 300px;
}